<a href="https://colab.research.google.com/github/oallanfarias/pyspark/blob/main/aula1608_pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Instalação do PYSPARK

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 47 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 51.7 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=34398939ed4818b0a70a3cb04ec0cd1d7b8dd4faf46ea41cc7da082b21f91187
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

#Importação do PYSPARK

In [24]:
#COMANDO PARA IMPORTAR O SPARKSESSION
from pyspark.sql import SparkSession

#UTILIZAR UMA FUNCTION
import pyspark.sql.functions as F

#Configuração da SPARKSESSION

In [ ]:
# spark = (SparkSession.builder    |  Constrói a sessão
# .master('local[4]')              |  Define a máquina master. Parênteses indicam a máquina (pode ser local, seu pc ou cloud). [] Define o número de núcleos
# .appName('intro-pyspark')        |  Define o nome da aplicação (a própria sessão)
# .config('spark.ui.port', '4050') |  Define as porta da aplicação
# .getOrCreate()                   |  Função que cria a session
# )
spark = (SparkSession.builder
          .master('local[4]')
          .appName('intro-pyspark')
          .config('spark.ui.port', '4050')
          .getOrCreate()
        )

In [ ]:
spark

#DATAFRAMES

In [ ]:
#FORMA DE SE TRABALHAR COM OS DADOS (DATAFRAME - Estrutura de Dados)
#CRIAR UM SCHEMA E SUAS INSTÂNCIAS
esquema = ['nome', 'cidade', 'estado', 'salario']

dados = [
    ('João da Silva', 'São Paulo', 'SP', 1100.00),
    ('Maria dos Santos', 'São Paulo', 'SP', 2100.00),
    ('Carlos Victor', 'Rio de Janeiro', 'RJ', 2100.00),
    ('Pedro José', 'Maceió', 'AL', 3600.00)
]

df = spark.createDataFrame(data = dados, schema = esquema)

In [6]:
#MOSTRA DO DATAFRAME GERAL (DF)
df.show()

+----------------+--------------+------+-------+
|            nome|        cidade|estado|salario|
+----------------+--------------+------+-------+
|   João da Silva|     São Paulo|    SP| 1100.0|
|Maria dos Santos|     São Paulo|    SP| 2100.0|
|   Carlos Victor|Rio de Janeiro|    RJ| 2100.0|
|      Pedro José|        Maceió|    AL| 3600.0|
+----------------+--------------+------+-------+

In [7]:
#MOSTRA O SCHEMA
df.printSchema()

root
 |-- nome: string (nullable = true)
 |-- cidade: string (nullable = true)
 |-- estado: string (nullable = true)
 |-- salario: double (nullable = true)

#Importação de dados CSV em PYSPARK

In [16]:
''' 
df2 = ( spark                               |
        .read                               |   Lê o arquivo
        .format('csv')                      |   O formato do arquivo. Poderiam ser outros formatos.
        .option('header', 'false')          |   Escolher se queremos ou não o header. Se usar 'False' ele não mostra a primeira linha, o padrão fica C1. 
        .option('inferschema', 'false')     |   Infere o qual é o tipo de cada dado dentro do esquema. Também 'liga' ou 'desliga' com True ou False.
        .option('delimiter', ';').          |   Indica qual o separador
        .load('/caminho/arquivo_geral.csv') |   Inserir o caminho dos dados
        )'''
df2 = ( spark
       .read
       .format('csv')
       .option('header', 'true')
       .option('inferschema', 'true')
       .option('delimiter', ';')
       .load('/content/drive/MyDrive/Datasets/arquivo_geral.csv')
    
      )

In [17]:
df2.show()

+------+------+-------------------+----------+---------------+-----------+----------------+
|regiao|estado|               data|casosNovos|casosAcumulados|obitosNovos|obitosAcumulados|
+------+------+-------------------+----------+---------------+-----------+----------------+
| Norte|    RO|2020-01-30 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-01-31 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-01 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-02 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-03 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-04 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-05 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-06 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-07 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-08 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-09 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-10 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-11 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-12 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-13 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-14 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-15 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-16 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-17 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-18 00:00:00|         0|              0|          0|               0|
+------+------+-------------------+----------+---------------+-----------+----------------+
only showing top 20 rows

In [18]:
df2.dtypes

[('regiao', 'string'),
 ('estado', 'string'),
 ('data', 'timestamp'),
 ('casosNovos', 'int'),
 ('casosAcumulados', 'int'),
 ('obitosNovos', 'int'),
 ('obitosAcumulados', 'int')]

In [19]:
df2.printSchema()

root
 |-- regiao: string (nullable = true)
 |-- estado: string (nullable = true)
 |-- data: timestamp (nullable = true)
 |-- casosNovos: integer (nullable = true)
 |-- casosAcumulados: integer (nullable = true)
 |-- obitosNovos: integer (nullable = true)
 |-- obitosAcumulados: integer (nullable = true)

In [20]:
#QUANTIDADE DE REGISTROS NO DATAFRAME
df2.count()

2349

#Backup do DF no PYSPARK

In [21]:
#BACKUP DO DATAFRAME
df_backup = df

In [22]:
#DATAFRAME É IMUTÁVEL. PARA MODIFICAR UM DATAFRAME É NECESSÁRIO SOBRESCREVÊ-LO
df = df.

#Aplicando filtros

In [23]:
#APLICANDO UM FILTRO PARA MOSTRAR APENAS COLUNAS ESPECÍFICAS
df2.select('regiao', 'estado', 'casosAcumulados').show()

+------+------+---------------+
|regiao|estado|casosAcumulados|
+------+------+---------------+
| Norte|    RO|              0|
| Norte|    RO|              0|
| Norte|    RO|              0|
| Norte|    RO|              0|
| Norte|    RO|              0|
| Norte|    RO|              0|
| Norte|    RO|              0|
| Norte|    RO|              0|
| Norte|    RO|              0|
| Norte|    RO|              0|
| Norte|    RO|              0|
| Norte|    RO|              0|
| Norte|    RO|              0|
| Norte|    RO|              0|
| Norte|    RO|              0|
| Norte|    RO|              0|
| Norte|    RO|              0|
| Norte|    RO|              0|
| Norte|    RO|              0|
| Norte|    RO|              0|
+------+------+---------------+
only showing top 20 rows

In [25]:
#APLICANDO UM FILTRO PARA MOSTRAR APENAS COLUNAS ESPECÍFICAS COM FUNCTIONS
df2.select(F.col('regiao'), F.col('estado'), F.col('casosAcumulados')).show()

+------+------+---------------+
|regiao|estado|casosAcumulados|
+------+------+---------------+
| Norte|    RO|              0|
| Norte|    RO|              0|
| Norte|    RO|              0|
| Norte|    RO|              0|
| Norte|    RO|              0|
| Norte|    RO|              0|
| Norte|    RO|              0|
| Norte|    RO|              0|
| Norte|    RO|              0|
| Norte|    RO|              0|
| Norte|    RO|              0|
| Norte|    RO|              0|
| Norte|    RO|              0|
| Norte|    RO|              0|
| Norte|    RO|              0|
| Norte|    RO|              0|
| Norte|    RO|              0|
| Norte|    RO|              0|
| Norte|    RO|              0|
| Norte|    RO|              0|
+------+------+---------------+
only showing top 20 rows